.example-spacer {
    flex: 1 1 auto;
}

.main-Body {
    padding-top: 20px;
    max-width: 1848px;
    margin: 0 auto;
    mat-foem-field {
        width: 100%;
        background-color: #3333;
    }
}

.action {
    display: flex;
    gap: 4;
}